@import './icon/iconfont.css';

@import './component/page';
@import './component/header';
@import './component/tips';
@import './component/toast';
@import './component/scroll-view';

body, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "微软雅黑","Microsoft Yahei","宋体",Tahoma,'Simsun',Arial,Helvetica,sans-serif;
}

li {
  list-style-type: none;
}