@import '../../public.scss';
@import './theme.scss';

.#{$name}-toast {
  position: fixed !important;
  width: 60% !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}